{
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "lf",
  "printWidth": 150,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "useTabs": false
      }
    }
  ]
}
