.vscode/**
.github/**
.husky/**
.vscode-test/**
docs/**
dist-vsix/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.npmrc
.prettierignore
.vscode-test.mjs
commitlint.config.mjs
DESIGN.md
esbuild.js
eslint.config.mjs
pnpm-lock.yaml
prettier.config.mjs
release-please-config.json
svelte.config.js
vsc-extension-quickstart.md
.release-please-manifest.json
tsconfig*.json
resources/readme/*.svg
**/*.ts
**/*.map
**/.vscode-test.*
